@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

@mixin dark-color {
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}

@mixin light-color {
  background: #d3cce3;
  background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
  background: linear-gradient(to right, #e9e4f0, #d3cce3);
}

@mixin animate(
  $animation,
  $duration,
  $times,
  $delay,
  $count,
  $direction,
  $fill
) {
  animation: $animation $duration $times $delay $count $direction $fill;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Marcellus", serif;
  font-size: 10px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.container {
  @include light-color();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  min-width: 200px;
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    width: 100%;
    padding: 0 20px;
    @media (min-width: 576px) {
      font-size: 2.5rem;
    }
    @media (min-width: 768px) {
      font-size: 3rem;
    }
    @media (min-width: 992px) {
      font-size: 3.5rem;
    }
    @media (min-width: 1200px) {
      font-size: 4rem;
    }
    @media (min-width: 1400px) {
      font-size: 4.5rem;
    }
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;

    @media (min-width: 576px) {
      height: 500px;
    }
    @media (min-width: 768px) {
      height: 700px;
    }
    @media (min-width: 992px) {
      height: 900px;
    }
    @media (min-width: 1200px) {
      height: 1100px;
    }
    @media (min-width: 1400px) {
      height: 1300px;
    }
    @media (orientation: landscape) {
      flex-direction: row;
      height: 150px;
      @media (min-width: 576px) {
        height: 200px;
      }
      @media (min-width: 768px) {
        height: 250px;
      }
      @media (min-width: 992px) {
        height: 300px;
      }
      @media (min-width: 1200px) {
        height: 350px;
      }
      @media (min-width: 1400px) {
        height: 400px;
      }
    }
    .navButtonContainer {
      .navButton {
        border: none;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        font-size: 2rem;
        line-height: 70px;
        @include dark-color();
        @media (min-width: 576px) {
          height: 100px;
          width: 100px;
          font-size: 2.5rem;
          line-height: 100px;
        }
        @media (min-width: 768px) {
          height: 130px;
          width: 130px;
          font-size: 3rem;
          line-height: 130px;
        }
        @media (min-width: 992px) {
          height: 150px;
          width: 150px;
          font-size: 3.5rem;
          line-height: 150px;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            transform: scale(1.1);
          }
        }
        @media (min-width: 1200px) {
          height: 180px;
          width: 180px;
          font-size: 4rem;
          line-height: 180px;
        }
        @media (min-width: 1400px) {
          height: 210px;
          width: 210px;
          font-size: 4.5rem;
          line-height: 210px;
        }
      }
    }
    .panelContainer {
      position: absolute;
      overflow-x: hidden;
      z-index: 4;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0px;
      width: 0px;
      .light-color {
        @include light-color();
      }
      .dark-color {
        @include dark-color();
      }
      .addPanelContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        min-height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        min-height: 100vh;
        @media (orientation: landscape) {
          flex-direction: row;
          min-height: 300px;
          @media (min-width: 576px) {
            min-height: 330px;
          }
          @media (min-width: 768px) {
            min-height: 350px;
          }
          @media (min-width: 992px) {
            min-height: 430px;
          }
          @media (min-width: 1200px) {
            min-height: 500px;
          }
          @media (min-width: 1400px) {
            min-height: 600px;
          }
        }
      }
      .calendarContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;
        max-height: 100vh;
        margin-top: 40px;
        @media (min-width: 768px) {
          min-width: 700px;
        }
        @media (orientation: landscape) {
          min-width: 400px;
          @media (min-width: 576px) {
            min-width: 450px;
          }
          @media (min-width: 768px) {
            min-width: 600px;
          }
          @media (min-width: 992px) {
            min-width: 800px;
          }
          @media (min-width: 1200px) {
            min-width: 1000px;
          }
          @media (min-width: 1400px) {
            min-width: 1200px;
          }
        }
        .fc-day-today {
          @include light-color();
          .fc-daygrid-event {
            @include dark-color();
          }
        }
        .fc-daygrid-event {
          border-radius: 50%;
          width: 15px;
          height: 15px;
          margin: 0 auto;
        }
        .fc-daygrid-day-bottom {
          text-align: center;
        }
        .fc-daygrid-more-link {
          pointer-events: none;
        }
        .fc-more-popover {
          .fc-daygrid-event {
            border-radius: 0;
            width: 100%;
            height: auto;
            margin: 0 auto;
            .fc-event-title {
              white-space: initial;
              display: block;
              margin: 2px auto;
              color: black;
            }
          }
        }
        .fc-toolbar-title {
          position: static;
          text-align: center;
          top: 0;
          left: 0;
          transform: translate(0, 0);
          margin-top: 20px;
          font-size: 2rem;
        }
        .fc-daygrid-event-harness {
          pointer-events: none;
        }
        .fc-h-event {
          text-align: center;
        }
        .fc-event-title {
          white-space: initial;
          color: transparent;
        }
      }
      h2 {
        text-align: center;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (min-width: 576px) {
          font-size: 2.5rem;
        }
        @media (min-width: 768px) {
          font-size: 3rem;
        }
        @media (min-width: 992px) {
          font-size: 3.5rem;
        }
        @media (min-width: 1200px) {
          font-size: 4rem;
        }
        @media (min-width: 1400px) {
          font-size: 4.5rem;
        }
      }
      .tasksListContainer {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        min-height: 100vh;
        @media (orientation: landscape) {
          @media (min-width: 992px) {
            flex-direction: row;
            justify-content: space-around;
            align-content: start;
          }
        }
        .taskListElement {
          width: 70%;
          overflow-x: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          margin: 15px 0;
          padding: 10px;
          line-height: 25px;
          word-break: break-word;
          text-align: center;
          @include light-color();
          @media (orientation: landscape) {
            @media (min-width: 992px) {
              width: 40%;
            }
          }
          h3 {
            font-size: 1.1rem;
            padding: 10px;
            @media (min-width: 576px) {
              font-size: 1.3rem;
            }
            @media (min-width: 768px) {
              font-size: 1.6rem;
            }
            @media (min-width: 992px) {
              font-size: 1.8rem;
            }
            @media (min-width: 1200px) {
              font-size: 2rem;
            }
            @media (min-width: 1400px) {
              font-size: 2.2rem;
            }
          }
          p {
            font-size: 0.7rem;
            padding: 10px;
            @media (min-width: 576px) {
              font-size: 0.9rem;
            }
            @media (min-width: 768px) {
              font-size: 1.1rem;
            }
            @media (min-width: 992px) {
              font-size: 1.3rem;
            }
            @media (min-width: 1200px) {
              font-size: 1.5rem;
            }
            @media (min-width: 1400px) {
              font-size: 1.7rem;
            }
          }
          .editPanelInput {
            font-family: "Marcellus", serif;
            border: none;
            width: 90%;
            text-align: center;
            font-size: 0.7rem;
            padding: 10px 15px;
            margin: 10px 0;
            outline: none;
            @include dark-color();
            @media (min-width: 576px) {
              font-size: 0.9rem;
              padding: 18px 11px;
            }
            @media (min-width: 768px) {
              font-size: 1.1rem;
              padding: 21px 12px;
            }
            @media (min-width: 992px) {
              font-size: 1.3rem;
              padding: 24px 13px;
            }
            @media (min-width: 1200px) {
              font-size: 1.5rem;
              padding: 27px 14px;
            }
            @media (min-width: 1400px) {
              font-size: 1.7rem;
              padding: 30px 15px;
            }
          }
          .buttonsContainer {
            display: flex;
            justify-content: space-around;
            width: 80%;
            .listElementButton {
              border: none;
              border-radius: 50%;
              height: 40px;
              width: 40px;
              font-size: 0.8rem;
              line-height: 40px;
              @include dark-color();
              @media (min-width: 576px) {
                height: 50px;
                width: 50px;
                font-size: 1.1rem;
                line-height: 50px;
              }
              @media (min-width: 768px) {
                height: 60px;
                width: 60px;
                font-size: 1.4rem;
                line-height: 60px;
              }
              @media (min-width: 992px) {
                height: 70px;
                width: 70px;
                font-size: 1.7rem;
                line-height: 70px;
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                  transform: scale(1.1);
                }
              }
              @media (min-width: 1200px) {
                height: 80px;
                width: 80px;
                font-size: 2rem;
                line-height: 80px;
              }
              @media (min-width: 1400px) {
                height: 90px;
                width: 90px;
                font-size: 2.3rem;
                line-height: 90px;
              }
            }
          }
        }
      }
    }
    .frontZIndex {
      z-index: 5;
    }
  }
}

.addPanelInput {
  font-family: "Marcellus", serif;
  border: none;
  width: 70%;
  text-align: center;
  font-size: 1rem;
  padding: 15px 10px;
  outline: none;
  @include light-color();
  @media (orientation: landscape) {
    width: 45%;
  }
  @media (min-width: 576px) {
    font-size: 1.2rem;
    padding: 18px 11px;
  }
  @media (min-width: 768px) {
    font-size: 1.4rem;
    padding: 21px 12px;
  }
  @media (min-width: 992px) {
    font-size: 1.6rem;
    padding: 24px 13px;
  }
  @media (min-width: 1200px) {
    font-size: 1.8rem;
    padding: 27px 14px;
  }
  @media (min-width: 1400px) {
    font-size: 2rem;
    padding: 30px 15px;
  }
}

.textarea {
  height: 150px;
  text-align: left;
  resize: none;
  @media (min-width: 576px) {
    height: 160px;
  }
  @media (min-width: 768px) {
    height: 180px;
  }
  @media (min-width: 992px) {
    height: 210px;
  }
  @media (min-width: 1200px) {
    height: 250px;
  }
  @media (min-width: 1400px) {
    height: 300px;
  }
  @media (orientation: landscape) {
    width: calc(100% - 70px - 10%);
    @media (min-width: 576px) {
      width: calc(100% - 100px - 10%);
    }
    @media (min-width: 768px) {
      width: calc(100% - 130px - 10%);
    }
    @media (min-width: 992px) {
      width: calc(100% - 150px - 10%);
    }
    @media (min-width: 1200px) {
      width: calc(100% - 180px - 10%);
    }
    @media (min-width: 1400px) {
      width: calc(100% - 210px - 10%);
    }
  }
}

.validate {
  box-shadow: 0px 0px 0px 2px red;
}

.dayPanelAddButton {
  display: block;
  margin: 10px auto 0;
}

.overFlowHidden {
  overflow: hidden;
}

.exitButton {
  position: sticky;
  display: block;
  z-index: 3;
  top: 40px;
  left: 10px;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 0.7rem;
  line-height: 30px;
  @include light-color();
  @media (orientation: landscape) {
    top: 80px;
  }
  @media (min-width: 576px) {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 0.8rem;
  }
  @media (min-width: 768px) {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 0.9rem;
  }
  @media (min-width: 992px) {
    height: 45px;
    width: 45px;
    line-height: 45px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1rem;
    &:hover {
      transform: scale(1.1);
    }
  }
  @media (min-width: 1200px) {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 1.1rem;
  }
  @media (min-width: 1400px) {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 1.2rem;
  }
}

.hide {
  @include dark-color();
  @include keyframes(hidePanel) {
    0% {
      width: 100vw;
      height: 100vh;
      min-width: 330px;
      min-height: 415px;
    }
    100% {
      height: 0px;
      width: 0px;
      min-width: 0;
      min-height: 0;
    }
  }
  @include animate(hidePanel, 0.1s, linear, 0s, 1, normal, forwards);
}

.show {
  @include dark-color();
  @include keyframes(showPanel) {
    0% {
      width: 0px;
      height: 0px;
      min-width: 0;
      min-height: 0;
    }
    100% {
      width: 100vw;
      height: 100vh;
      min-width: 330px;
      min-height: 415px;
    }
  }
  @include animate(showPanel, 0.1s, linear, 0s, 1, normal, forwards);
}
